<div class="container-fluid container-fluid-custom">
<h1>About Us </h1>
<h4>Our team at inotes is dedicated to creating intuitive and powerful tools for capturing, organizing, and sharing information. With backgrounds in software development, user experience design, and productivity, we bring a diverse set of skills to the table. Our goal is to help individuals and teams unlock their full potential by streamlining their workflows and fostering seamless collaboration.<h4>
<br>
<br>
<br>
<h4>contac us: </h4>
<h4>ph no: +91 6969696969</h4>
<h4>mailid: inotesdevos@reddif.com</h4>    
</div>